body {
  min-width: 250px;
  margin: 0;
  padding: 0;
  background: $color-white;
  font-family: $font-open-sans, sans-serif !important;

  a {
    @include transition(0.5s all);
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.bg-white {
  background: $color-white;
}
.bg-light {
  background: $color-grey;
}
.bg-grey {
  background: $color-normal-grey;
}
.bg-green {
  background: $color-green;
}
.bg-dark {
  background: $color-dark-grey;
}
.bg-image {
  background: url('#{$img-path}/process.jpg');
}

.block {
  padding: 80px 0;
}

@media (max-width: $screen-xs) {
  .show-xs {  // display since extra small screen
    display: none !important;
  }
}

@media (max-width: $screen-sm) {
  .show-sm {  // display since small screen
    display: none !important;
  }
}

@media (max-width: $screen-sm-md) {
  .show-sm-md {  // display since middle screen
    display: none !important;
  }
}

@media (max-width: $screen-md) {
  .show-md {  // display since medium screen
    display: none !important;
  }
}

@media (max-width: $screen-lg) {
  .show-lg {  // display since large screen
    display: none !important;
  }
}

@media (max-width: $screen-xlg) {
  .show-xlg {  // display since extra large screen
    display: none !important;
  }
}

@media (max-width: $screen-xxl) {
  .show-xxl {  // display since super large screen
    display: none !important;
  }
}

/*-- responsive media queries --*/
@media (max-width: $screen-lg) {
  .about, .skills, .services, .get-in-touch, .contact {
    padding: 60px 0;
  }
  .about .grids, .contact .contact-info, .skills .grids, .services .grids {
    margin-top: 45px;
  }

  .about .about-info h3, .skills .info h2, .services h3, .get-info h3 {
    font-size: 40px;
  }
}
@media (max-width: $screen-md) {
  .about, .skills, .services, .get-in-touch, .contact {
    padding: 50px 0;
  }
  .about .about-info h3, .skills .info h2, .services h3, .get-info h3 {
    font-size: 35px;
  }
  .about .about-info p, .about .grid p, .services .grid p, .get-info p, .contact .grid p{
    font-size: 13px;
  }

  .about .grids, .services .grids, .contact .info {
    margin-top: 30px;
  }
}
@media (max-width: $screen-sm-md) {}
@media (max-width: $screen-sm) {
  .about, .skills, .services, .get-in-touch, .contact {
    padding: 45px 0;
  }
  .about .about-info h3, .skills .info h2, .services h3, .get-info h3 {
    font-size: 30px;
  }
}
@media (max-width: $screen-xs) {
  .about .about-info h3, .skills .info h2, .services h3, .get-info h3 {
    font-size: 26px;
  }
  .about .grids, .services .grids, .contact .info {
    margin-top: 22px;
  }
}
@media (max-width: $screen-xxs) {
  .about, .skills, .services, .get-in-touch, .contact {
    padding: 35px 0;
  }
  .about .about-info h3, .skills .info h2, .services h3, .get-info h3 {
    font-size: 24px;
  }
}
/*-- //responsive media queries --*/
