body {
  margin: 0;
  padding: 0;
  background: $color-white;
  font-family: $font-open-sans, sans-serif !important;

  a {
    @include transition(0.5s all);
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.bg-white {
  background: $color-white;
}
.bg-light {
  background: $color-grey;
}
.bg-grey {
  background: $color-normal-grey;
}
.bg-green {
  background: $color-green;
}
.bg-dark {
  background: $color-dark-grey;
}
.bg-image {
  background: url('#{$img-path}/process.jpg');
}

.block {
  padding: 80px 0;
}
