.about {
  padding: 80px 0;

  .about-info {
    h3 {
      font-family: $font-pack;
      margin: 0;
      color: $color-dark-grey;
      font-size: 44px;
      text-align: center;
      font-weight: 400;
    }

    h4 {
      text-align: center;
      font-size: 17px;
      color: $color-light-green;
      font-weight: 600;
      margin: 10px 0 16px 0;
      font-style: italic;

      @media (max-width: $screen-md) {
        font-size: 15px;
      }

      @media (max-width: $screen-xs) {
        margin: 10px 0 11px;
      }

      @media (max-width: $screen-xxs) {
        font-size: 17px;
      }
    }

    p {
      text-align: center;
      font-size: 14px;
      color: $color-white;
      width: 71%;
      margin: 0 auto;
      line-height: 1.8em;

      @media (max-width: $screen-lg) {
        width: 82%;
      }

      @media (max-width: $screen-md) {
        width: 95%;
      }

      @media (max-width: $screen-sm) {
        width: 100%;
      }
    }
  }

  .grids {
    margin-top: 60px;

    .grid {
      h4 {
        font-family: $font-pack;
        text-align: left;
        color: $color-light-green;
        font-size: 24px;
        text-transform: uppercase;

        @media (max-width: $screen-lg) {
          font-size: 22px;
        }

        @media (max-width: $screen-sm) {
          font-size: 20px;
        }

        @media (max-width: $screen-xs) {
          font-size: 19px;
        }
      }

      p {
        text-align: left;
        color: $color-white;
        font-size: 14px;
        line-height: 1.8em;
        padding: 2em 0 0 0;

        @media (max-width: $screen-lg) {
          padding: 1.5em 0 0 0;
        }
      }

      @media (max-width: $screen-md) {
        float: left;
        width: 50%;

        p {
          padding: 1em 0 0 0;
        }
      }

      @media (max-width: $screen-xs) {
        float: left;
        width: 100%;
        padding: 0;

        &:nth-child(2) {
          margin-top: 25px;
        }
      }
    }
  }
}
