.banner {
  .grids {
    margin-top: 50px;

    @media (max-width: $screen-md) {
      margin-top: 35px;
    }

    .navigation {
      padding-top: 18px;

      .nav-left {
        a {
           font-size: 11em;
           font-weight: 600;
           color: $color-light-black;
           text-transform: uppercase;
           text-decoration: none;
           font-family: $font-pack;

           @media (max-width: $screen-lg) {
             font-size: 8em;
           }

           @media (max-width: $screen-md) {
             font-size: 7em;
           }

           @media (max-width: $screen-sm) {
             font-size: 5.5em;
           }
        }
      }

      .nav-right {
        span {
          display: none;
        }

        ul {
          padding: 0;
          margin: 38px 0 0 0;

          li {
            display: block;
            line-height: 4.2em;

            &:nth-child(1) a {
              padding: 11px 48px;
            }
            &:nth-child(2) a {
              padding: 11px 75px;
            }
            &:nth-child(3) a {
              padding: 11px 70px;
            }
            &:nth-child(5) a {
              padding: 11px 90px;
            }
            &:nth-child(6) a {
              padding: 11px 62px;
            }
            &:nth-child(7) a {
              padding: 11px 48px;
            }

            a {
              // color: $color-dark-grey;
              color: $color-white;
              margin: 0px 0px;
              font-size: 17px;
              padding: 11px 104px;
              // background: $color-white;
              background: $color-green;
              font-weight: 600;
              text-decoration: none;

              &:hover{
                // color: $color-dark-grey;
                color: $color-light-green;
                @include transition(.5s all);
              }
            }
          }

          @media (max-width: $screen-lg) {
            margin: 27px 0 0 0;

            li {
              line-height: 3.8em;

              &:nth-child(1) a {
                padding: 10px 36px;
              }
              &:nth-child(2) a {
                padding: 10px 55px;
              }
              &:nth-child(3) a {
                padding: 10px 50px;
              }
              &:nth-child(5) a {
                padding: 10px 60px;
              }
              &:nth-child(6) a {
                padding: 10px 52px;
              }
              &:nth-child(7) a {
                padding: 10px 36px;
              }

              a {
                font-size: 15px;
                padding: 10px 70px;
              }
            }
          }

          @media (max-width: $screen-md) {
            margin: 23px 0 0 0;

            li {
              line-height: 3.5em;

              &:nth-child(1) a {
                padding: 8px 27px;
              }
              &:nth-child(2) a {
                padding: 8px 32px;
              }
              &:nth-child(3) a {
                padding: 8px 36px;
              }
              &:nth-child(5) a {
                padding: 8px 42px;
              }
              &:nth-child(6) a {
                padding: 8px 32px;
              }
              &:nth-child(7) a {
                padding: 8px 27px;
              }

              a {
                font-size: 14px;
                padding: 8px 47px;
              }
            }
          }

          @media (max-width: $screen-sm-md) {
            li {
              &:nth-child(1) a {
                padding: 8px 27px;
              }
              &:nth-child(2) a {
                padding: 8px 32px;
              }
              &:nth-child(3) a {
                padding: 8px 36px;
              }
              &:nth-child(5) a {
                padding: 8px 42px;
              }
              &:nth-child(6) a {
                padding: 8px 32px;
              }
              &:nth-child(7) a {
                padding: 8px 27px;
              }

              a {
                font-size: 14px;
                padding: 8px 47px;
              }
            }
          }

          @media (max-width: $screen-sm) {
            margin: 19px 0 0 0;

            li {
              line-height: 3.2em;

              &:nth-child(1) a {
                padding: 8px 20px;
              }
              &:nth-child(2) a {
                padding: 8px 28px;
              }
              &:nth-child(3) a {
                padding: 8px 16px;
              }
              &:nth-child(5) a {
                padding: 8px 28px;
              }
              &:nth-child(6) a {
                padding: 8px 22px;
              }
              &:nth-child(7) a {
                padding: 8px 20px;
              }

              a {
                font-size: 13px;
                padding: 8px 30px;
              }
            }
          }
        }
      }

      @media (max-width: $screen-md) {
        float: left;
        width: 38%;
      }

      @media (max-width: $screen-sm-md) {
        float: none;
        display: inline-block;
        width: 44%;
      }

      @media (max-width: $screen-sm) {
        padding-top: 0;
      }
    }

    .banner-image {
      img {
        width: 57%;

        @media (max-width: $screen-xxl) {
          width: 70%;
        }

        @media (max-width: $screen-xlg) {
          width: 85%;
        }

        @media (max-width: $screen-lg) {
          width: 90%;
        }
      }

      @media (max-width: $screen-md) {
        float: left;
        width: 59%;

        // img {
        //   width: 65%;
        // }
      }

      @media (max-width: $screen-sm-md) {
        display: inline-block;
        float: none;
        width: 55%;
        vertical-align: bottom;

        img {
          width: 100%;
        }
      }
    }
  }
}
