.skills {
  .info h2 {
    font-family: $font-pack;
    margin: 0;
    color: $color-grey;
    font-size: 44px;
    text-align: center;
    font-weight: 400;
  }

  .grids {
    margin-top: 60px;

    .grid {
      .circle {
        .circles-text-wrp {
          font-size: 30px;
          color: $color-white;
          font-weight: 300;

          @media (max-width: $screen-lg) {
            font-size: 40px !important;
          }
        }
      }

      p {
        margin: 34px 0 0 0;
        font-size: 22px;
        color: $color-grey;

        @media (max-width: $screen-lg) {
          margin: 25px 0 0 0;
          font-size: 19px;
        }
      }

      @media (max-width: $screen-md) {
        padding: 0 10px;
        float: left;
        width: 25%;

        p {
          margin: 13px 0 0 0;
          font-size: 16px;
        }
      }

      @media (max-width: $screen-md) {
        width: 50%;

        &:nth-child(3), &:nth-child(4)  {
          margin: 30px 0;
        }
      }
    }
  }
}
